.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 99%;
    height: 80px;
    margin: 5px 5px 0 5px;
    border-radius: 15px 15px 0 0;
    background-color: var(--lightDark);

    .infa {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 600px;
        color: var(--white);
        gap: 20px;
        font-size: 1.6rem;

        img {
            border-radius: 15px;
            border: 3px solid var(--black);
            width: 75px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }

    }
}