.contacts {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    position: relative;
    background-color: var(--dark);
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    
    .users_list {
        overflow-y: scroll;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        gap: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    
    &.close {
        width: 95px;
    }
}
