.contacts {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    height: 100vh;
    position: relative;
    background-color: var(--dark);
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        width: 100%;
        height: 80px;
        color: var(--white);

        .setting {
            cursor: pointer;
        }

        span {
            display: none;
            font-size: 1.4rem;
            min-width: 0;
            max-width: 80%;
        }

        .search {
            width: 65%;
            display: inline-flex;
            align-items: center;
            border-radius: 15px;
            justify-content: space-around;
            border: 3px solid var(--black);


            img {
                cursor: pointer;
                border-radius: 15px;
                aspect-ratio: 1;
                height: 100%;
                padding: 3px;
            }

            input {
                color: var(--white);
                font-size: 1.3rem;
                height: 100%;
                width: 90%;
                background-color: var(--dark);
                box-shadow: none;
                border: none;
                outline: none;

                &:focus {
                    box-shadow: none;
                    border-radius: 0;
                }

                &:active {
                    box-shadow: none;
                    border-radius: 0;
                }



            }
        }

        .closeBTN {
            width: 50px;
            height: 50px;
            box-shadow: 0px -1px 10px 4px rgba(0, 0, 0, 0.2);
            border-radius: 15px;

            path {
                fill: var(--white);
            }

            &:hover {
                background-color: var(--lightDark);
            }
        }



    }

    .users_list {
        overflow-y: scroll;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        gap: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 0;
        }
    }


    &.close {
        width: 95px;
        min-width: 95px;
    }

    &.close {
        .search {
            display: none;
        }

        .header {
            img {
                display: none;
            }

            .setting {
                display: none;
            }
        }

    }
}