@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

:root {
    --dark: #181818;
    --lightDark: #1f1f1f;
    --white: #f2f3f4;
}

#root {
    display: flex;
    overflow: hidden;
}